body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Светло-серый фон */
}

.orders-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

h1 {
    text-align: center;
    color: #333; /* Темно-серый */
    margin-bottom: 20px;
}

.user-orders {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f9f9f9; /* Светло-серый фон */
    border-radius: 10px;
    border: 1px solid #ddd; /* Светлая обводка */
}

.user-orders h2 {
    color: #333;
    margin-bottom: 15px;
}

.order-block {
    border: 1px solid #ddd; /* Светлая обводка */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff; /* Белый фон */
}

.order-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.order-header h3 {
    margin: 0;
    color: #333;
}

.order-date {
    margin: 0;
    color: #777; /* Средне-серый */
    font-size: 14px;
}

.order-details {
    margin-bottom: 30px; /* Увеличенный отступ снизу */
}

.order-details p {
    margin: 20px 0; /* Увеличенный отступ сверху и снизу между строками */
    color: #555; /* Темно-серый текст */
    font-size: 20px; /* Увеличенный размер шрифта */
    font-weight: bold; /* Жирный текст для выделения */
    text-align: left; /* Выровнено по левому краю */
    line-height: 1.6; /* Увеличенный интерлиньяж */
}

.order-items {
    margin-bottom: 15px;
}

.order-items h4 {
    margin: 10px 0;
    color: #333;
}

.order-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-items li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #eee; /* Очень светлая граница */
}

.order-items li:last-child {
    border-bottom: none;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
}

.plant-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f4f4f4; /* Легкий фон */
}

.empty-frame {
    width: 50px;
    height: 50px;
    border: 1px dashed #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name {
    text-decoration: none;
    color: #333;
}

.item-quantity {
    margin: 0 10px;
    color: #777;
}

.item-price {
    text-align: left;
    width: 120px;
    color: #4CAF50; /* Зеленый */
    font-weight: bold;
}

.order-total {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 20px;
    padding: 10px 0 0 20px;
    border-radius: 5px;
}
.ordering-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Звичайний шрифт для міток */
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif; /* Звичайний шрифт для полів введення */
}
.form-group input{
    width: 97%;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-family: Arial, sans-serif; /* Звичайний шрифт для кнопки */
}

.btn-submit:hover {
    background-color: #45a049;
}
/* Стили для формы изменения статуса */
form {
    margin-top: 15px;
    padding: 15px;
    background-color: #f9f9f9; /* Светло-серый фон */
    border-radius: 10px;
    border: 1px solid #ddd; /* Светлая обводка */
}

.to-main-page {
    position: absolute;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.to-main-page:hover {
    background-color: #f4f4f4; /* Легкий серый фон */
}
a.btn-back {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

a.btn-back:hover {
    text-decoration: underline #555;
}
