<!DOCTYPE html>
<html lang="uk">
{% load static %}
{% load filters %}
<head>
    <meta charset="UTF-8">
    <title>Магазин Насіння та Саджанців</title>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>
<body>
    <header>
        <nav class="main-navigation">
            <!-- Форма пошуку -->
            <form method="get" action="{% url 'main_page' %}" class="search-form">
                <input type="text" id="search" name="search" placeholder="Пошук за назвою..." value="{{ request.GET.search }}">
                <button type="submit">Пошук</button>
                <div id="autocomplete-results"></div> 
            </form>
            {% if user.is_staff %}
            <div class="admin-tools">
                <a href="{% url 'user_rights' %}">
                    <img src="{% static 'images/admin-tools.png' %}" class="admin-tool">
                </a>
                <div class="vertical-line"></div>
                <a href="{% url 'admin_orders' %}">
                    <img src="{% static 'images/deliveries.png' %}" class="admin-tool">
                </a>
                <div class="vertical-line"></div>
                <a href="{% url 'statistics_page' %}">
                    <img src="{% static 'images/statistics.png' %}" class="admin-tool">
                </a>
                <div class="vertical-line"></div>
                <a href="{% url 'promocode_management' %}">
                    <img src="{% static 'images/promocodes.png' %}" class="admin-tool">
                </a>
            </div>
            {% endif %}
            <!-- Кнопки "Кошик" та "Увійти" -->
            <div class="nav-buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'cart' %}">Кошик</a>
                {% if user.is_staff %}
                    <a href="{% url 'orders' %}">Замовлення</a>
                {% else %}
                    <a href="{% url 'orders' %}">Замовлення</a>
                {% endif %}
                <a href="{% url 'user_profile' %}">Профіль</a>
            {% else %}
                <a href="{% url 'login' %}">Увійти</a>
            {% endif %}
            </div>
        </nav>
    </header>
    <div class="container">
        <aside class="sidebar">
            <h1 id="filters-label">Фільтри</h1>
            <form method="get" action="{% url 'main_page' %}">
                <h4>Ціна</h4>
                <label for="min_price">Мінімальна ціна:</label>
                <input type="number" class="price-input" id="min-price" value="{{ request.GET.min_price }}">
                <label for="max_price">Максимальна ціна:</label>
                <input type="number" class="price-input" value="{{ request.GET.max_price }}">

                <h4>Країна</h4>
                {% for country in countries %}
                <div>
                    <input type="checkbox" id="country_{{ country }}" name="country" value="{{ country }}"
                        {% if country in request.GET.getlist.country %}checked{% endif %}>
                    <label for="country_{{ country }}">{{ country }}</label>
                </div>
                {% endfor %}

                <h4>Категорії</h4>
                {% for category in categories %}
                <div>
                    <input type="checkbox" id="category_{{ category }}" name="category" value="{{ category }}"
                        {% if category in request.GET.getlist.category %}checked{% endif %}>
                    <label for="category_{{ category }}">{{ category }}</label>
                </div>
                {% endfor %}

                <button type="submit" id="filter-btn">Фільтрувати</button>
            </form>
        </aside>
        <main class="product-list">
            {% if user.is_staff %}
                {% if request.GET.p|default:"1" == "1" %}
            <div class="product">
                <a href="{% url 'create_plant' %}" class="add-plant" id="add-plant-label">Додати нову рослину</a>
                <br>
                <a href="{% url 'create_plant' %}" class="add-plant" id="plus">+</a>
            </div>
                {% endif %}
            {% endif %}
            <!-- Продукти -->
            {% for plant in plants %}
            <div class="product">
                <div class="photo-container">
                    {% if plant.photo %}
                        <img src="{% static 'plants/' %}{{ plant.photo }}" alt="{{ plant.plant_name }}" class="plant-photo">
                    {% else %}
                        <img src="{% static 'images/placeholder.jpg' %}" alt="{{ plant.plant_name }}" class="plant-photo">
                    {% endif %}
                </div>
                <!-- Посилання на сторінку рослини -->
                <h4><a href="{% url 'plant_detail' plant.plant_id %}" class="plant-link">{{ plant.plant_name }}</a></h4>
                <p>{{ plant.price }} грн</p>
                <!-- Кнопки -->
                <div class="product-control">
                    {% if plant.quantity_in_stock > 0 %}
                    <form action="{% url 'ordering_page' %}" method="GET" style="display: inline;">
                        <input type="hidden" name="plant_id" value="{{ plant.plant_id }}">
                        <input type="hidden" name="buy_now" value="true">
                        <button type="submit" class="add-to-cart">Купити</button>
                    </form>
                    {% endif %}

                    {% if plant.plant_id in cart_items %}
                    <div class="quantity-control">
                        <form action="{% url 'add_to_cart' plant.plant_id -1 %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="quantity-btn">-</button>
                        </form>
                        <input type="number" value="{{cart_items|get:plant.plant_id}}" readonly>
                        <form action="{% url 'add_to_cart' plant.plant_id 1 %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            {% if cart_items|get:plant.plant_id >= plant.quantity_in_stock %}
                                <button type="submit" class="quantity-btn" disabled>+</button>
                            {% else %}
                                <button type="submit" class="quantity-btn">+</button>
                            {% endif %}
                        </form>
                    </div>
                    {% else %}
                        {% if plant.quantity_in_stock > 0 %}
                        <form action="{% url 'add_to_cart' plant.plant_id 1 %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="add-to-cart">До кошика</button>
                        </form>
                        {% else %}
                            <button class="add-to-cart" disabled>Товару немає в наявності</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </main>
    </div>
    <div class="pagination">
        {% if plants.has_previous %}
            <a href="?p={{ plants.previous_page_number }}" class="pagination-link">&larr; Попередня</a>
        {% else %}
            <span class="pagination-disabled">&larr; Попередня</span>
        {% endif %}
    
        {% for num in plants.paginator.page_range %}
            {% if num == plants.number %}
                <span class="pagination-current">{{ num }}</span>
            {% else %}
                <a href="?p={{ num }}" class="pagination-link">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        {% if plants.has_next %}
            <a href="?p={{ plants.next_page_number }}" class="pagination-link">Наступна &rarr;</a>
        {% else %}
            <span class="pagination-disabled">Наступна &rarr;</span>
        {% endif %}
    </div>
    {% if messages %}
    <div id="popup-message" class="popup-message">
        <span class="close-btn">&times;</span>
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{% static 'scripts/main_page.js' %}"></script>
    <script src="{% static 'scripts/popup_messages.js' %}"></script>
</body>
</html>
