<!DOCTYPE html>
<html lang="uk">
{% load static %}
{% load filters %}
<head>
    <meta charset="UTF-8">
    <title>{{ plant.plant_name }}</title>
    <link rel="stylesheet" href="{% static 'content/plant_detail.css' %}">
</head>
<body>
    <header>
        <div class="nav-buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'main_page' %}">На головну</a>
                <a href="{% url 'cart' %}">Кошик</a>
                <a href="{% url 'user_profile' %}">Профіль</a>
            {% else %}
                <a href="{% url 'login' %}">Увійти</a>
            {% endif %}
        </div>
    </header>
    <div class="container">
        <div class="plant-detail">
            <h1>{{ plant.plant_name }}</h1>
            <!-- Фото рослини -->
            {% if plant.photo %}
            <img src="{% static 'plants/' %}{{ plant.photo }}" alt="{{ plant.plant_name }}" class="plant-photo">
            {% else %}
            <img src="{% static 'content/placeholder.jpg' %}" alt="{{ plant.plant_name }}" class="plant-photo">
            {% endif %}

        <!-- Інформація про рослину -->
            <p class="plant-price">{{ plant.price }} грн</p>
            <p class="plant-description">{{ plant.plant_description }}</p>
            <p class="plant-info">
                <strong>Постачальник:</strong> {{ supplier.supplier_name }}, {{ supplier.country }}
            </p>
            <p class="plant-info">
                <strong>Рід:</strong> {{ genus.genus_name }}
            </p>
            <p class="plant-info">
                <strong>Вага:</strong> {{ plant.weight|kilo_to_grams }} г (1 шт.)
            </p>
                <!-- Форма для вибору кількості -->
                <div class="product-control">
                    {% if plant.quantity_in_stock > 0 %}
                        <form class="button-form">
                            <button class="add-to-cart" type="submit">Купити</button>
                        </form>
                    {% endif %}

                    {% if plant.plant_id in cart_items %}
                    <div class="quantity-control">
                        <form action="{% url 'add_to_cart' plant.plant_id -1 %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="quantity-btn">-</button>
                        </form>
                        <input type="number" value="{{cart_items|get:plant.plant_id}}" readonly>
                        <form action="{% url 'add_to_cart' plant.plant_id 1 %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            {% if cart_items|get:plant.plant_id >= plant.quantity_in_stock %}
                                <button type="submit" class="quantity-btn" disabled>+</button>
                            {% else %}
                                <button type="submit" class="quantity-btn">+</button>
                            {% endif %}
                        </form>
                    </div>
                    {% else %}
                        {% if plant.quantity_in_stock > 0 %}
                        <form action="{% url 'add_to_cart' plant.plant_id 1 %}" method="POST" class="button-form">
                            {% csrf_token %}
                            <button type="submit" class="add-to-cart">До кошика</button>
                        </form>
                        {% else %}
                            <button class="add-to-cart" disabled>Товару немає в наявності</button>
                        {% endif %}
                    {% endif %}
                    
                </div>
                <p class="quantity">У наявності: {{ plant.quantity_in_stock }} шт.</p>
        </div>
    </div>

    <!-- Скрипт для розрахунку загальної вартості -->
    <script>
        // Отримуємо ціну з атрибута data-price
        const price = parseFloat("{{ plant.price }}".replace(",", "."));  // Замінюємо кому на крапку для коректного парсингу
        const quantityInput = document.getElementById('quantity');
        const totalPriceElement = document.getElementById('total-price');

        quantityInput.addEventListener('input', function() {
            const quantity = parseFloat(this.value);
            const totalPrice = (price * quantity).toFixed(2);
            totalPriceElement.textContent = totalPrice;
        });
    </script>
</body>
</html>