<!DOCTYPE html>
<html lang="uk">
{% load static %}
{% load filters %}
<head>
    <meta charset="UTF-8">
    <title>{{ plant.plant_name }}</title>
    <link rel="stylesheet" href="{% static 'css/plant_detail.css' %}">
</head>
<body>
    <header>
        <div class="nav-buttons">
            <a href="{% url 'main_page' %}">На головну</a>
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">Увійти</a>
            {% endif %}
        </div>
    </header>
    <div class="container">
        <div class="plant-detail">
            {% if user.is_staff %}
            <a href="{% url 'update_plant' plant_id=plant.plant_id %}" id="edit-product-link">
                <img src="{% static 'images/edit_product.png' %}" id="edit-product">
            </a>
            {% endif %}
            <h1>{{ plant.plant_name }}</h1>
            <!-- Фото рослини -->
            {% if plant.photo %}
            <img src="{% static 'plants/' %}{{ plant.photo }}" alt="{{ plant.plant_name }}" class="plant-photo">
            {% else %}
            <img src="{% static 'images/placeholder.jpg' %}" alt="{{ plant.plant_name }}" class="plant-photo">
            {% endif %}

        <!-- Інформація про рослину -->
            <p class="plant-price">{{ plant.price }} грн</p>
            <p class="plant-description">{{ plant.plant_description }}</p>
            <p class="plant-info">
                <strong>Постачальник:</strong> {{ supplier.supplier_name }}, {{ supplier.country }}
            </p>
            <p class="plant-info">
                <strong>Рід:</strong> {{ genus.genus_name }}
            </p>
            <p class="plant-info">
                <strong>Вага:</strong> {{ plant.weight|kilo_to_grams }} г (1 шт.)
            </p>
                <!-- Форма для вибору кількості -->
                <div class="product-control">
                    {% if plant.quantity_in_stock > 0 %}
                        <form class="button-form" action="{% url 'ordering_page' %}" method="GET">
                            <input type="hidden" name="plant_id" value="{{ plant.plant_id }}">
                            <input type="hidden" name="buy_now" value="true">
                            <button class="add-to-cart" type="submit">Купити</button>
                        </form>
                    {% endif %}

                    {% if plant.plant_id in cart_items %}
                    <div class="quantity-control">
                        <form action="{% url 'add_to_cart' plant.plant_id -1 %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="quantity-btn">-</button>
                        </form>
                        <input type="number" value="{{cart_items|get:plant.plant_id}}" readonly>
                        <form action="{% url 'add_to_cart' plant.plant_id 1 %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            {% if cart_items|get:plant.plant_id >= plant.quantity_in_stock %}
                                <button type="submit" class="quantity-btn" disabled>+</button>
                            {% else %}
                                <button type="submit" class="quantity-btn">+</button>
                            {% endif %}
                        </form>
                    </div>
                    {% else %}
                        {% if plant.quantity_in_stock > 0 %}
                        <form action="{% url 'add_to_cart' plant.plant_id 1 %}" method="POST" class="button-form">
                            {% csrf_token %}
                            <button type="submit" class="add-to-cart">До кошика</button>
                        </form>
                        {% else %}
                        <form class="disabled-button-form">
                            <button class="add-to-cart" disabled>Товару немає в наявності</button>
                        </form>
                        {% endif %}
                    {% endif %}
                    
                </div>
                <p class="quantity">У наявності: {{ plant.quantity_in_stock }} шт.</p>
                {% if plant.additional_info %}
                <a href="{% url 'download_plant_docx' plant.plant_id %}" id="download-plant-docx">
                    📄 Додаткова інформація
                </a>
                {% endif %}
        </div>
    </div>
    {% if messages %}
    <div id="popup-message" class="popup-message">
        <span class="close-btn">&times;</span>
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{% static 'scripts/popup_messages.js' %}"></script>
</body>
</html>