body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/static/images/background.jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-buttons {
    margin-left: auto;
    margin-right: 0;
    display: flex;
}

.nav-buttons a {
    text-align: center;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    border: 1px dashed #ffffff; 
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.nav-buttons a:hover {
    background-color: #45a049;
}

.statistics-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.statistic-block {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}

.statistic-block h2 {
    color: #333;
    margin-bottom: 10px;
}

.stat-value {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

.category-title {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

.category-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}

.category-table th, .category-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.category-table th {
    background-color: #4CAF50;
    color: white;
}

.category-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.category-table tr:hover {
    background-color: #f1f1f1;
}

.supplier-title {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

.supplier-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}

.supplier-table th, .supplier-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.supplier-table th {
    background-color: #4CAF50;
    color: white;
}

.supplier-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.supplier-table tr:hover {
    background-color: #f1f1f1;
}
