<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Редагування профілю</title>
    <link rel="stylesheet" href="{% static 'authentication/profile.css' %}"> 
</head>
<body>
    <header>
        <div class="nav-buttons">
            <a href="{% url 'cart' %}">Кошик</a>
            <a href="{% url 'main_page' %}">На головну</a>
        </div>
    </header>

    <div class="container">
        <h1>Ваш Профіль</h1>
        <div class="user-info">
            <form method="post" action="{% url 'edit_profile' %}">
            {% csrf_token %}
                <p><strong>Нікнейм:</strong> <input type="text" name="username" value="{{ user.username }}"></p>
                <p><strong>Місто:</strong> <input type="text" name="city" value="{{ user.city }}"></p>
                <p><strong>Вулиця:</strong> <input type="text" name="street" value="{{ user.street }}"></p>
                <p><strong>Будинок:</strong> <input type="text" name="house" value="{{ user.house }}"></p>
                <p><strong>Поверх:</strong> <input type="text" name="flat" value="{{ user.flat }}"></p>
                <p><strong>Номер телефону:</strong> <input type="text" name="phone_number" value="{{ user.phone_number }}"></p>
                <button type="submit" class="button">Зберегти зміни</button>
                
            </form>
        </div>
    </div>
</body>
</html>