{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <title>Автентифікація</title>
</head>
<body>
    <div class="header">
        <h3>Автентифікація</h3>
    </div>
    <div class="account-options">
        <b class="account-label">Ще немає акаунта?</b>
        <div class="link-container">
            <a href="{% url 'register' %}" class="login-link">Зареєструватися</a>
        </div>
    </div>
    <form action='.' method='POST' class="form-container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Увійти</button>
    </form>
</body>
</html>