<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Профіль користувача</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"> 
</head>
<body>
    <header>
        <div class="nav-buttons">
            <a href="{% url 'main_page' %}">На головну</a>
        </div>
    </header>

    <div class="container">
        <h1>Ваш Профіль</h1>
        <div class="user-info">
            <p><strong>Ім'я:</strong> {{ user.first_name|default_if_none:"" }}</p>
            <p><strong>Прізвище:</strong> {{ user.last_name|default_if_none:"" }}</p>
            <p><strong>Вік:</strong> {{ user.age|default_if_none:"" }}</p>
            <p><strong>Місто:</strong> {{ user.city }}</p>
            <p><strong>Вулиця:</strong> {{ user.street }}</p>
            <p><strong>Будинок:</strong> {{ user.house }}</p>
            <p><strong>Поверх:</strong> {{ user.flat }}</p>
            <p><strong>Номер телефону:</strong> {{ user.phone_number|default_if_none:"" }}</p>
            <a href="{% url 'edit_profile' %}" class="button">Редагувати профіль</a>
            <form id="logout-form" method="post" action="{% url 'logout' %}" onsubmit="return confirm('Ви впевнені, що хочете вийти з аккаунта?');">
                {% csrf_token %}
                <button type="submit" id="logout-btn">Вийти</button>
            </form>
        </div>
    </div>
    {% if messages %}
    <div id="popup-message" class="popup-message">
        <span class="close-btn">&times;</span>
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{% static 'scripts/popup_messages.js' %}"></script>
</body>
</html>