/* Загальні стилі для сторінки профілю */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.main-navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-navigation a {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.main-navigation a:hover {
    background-color: #218838;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.user-info {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.user-info p {
    font-size: 16px;
    margin: 10px 0;
}

.user-info strong {
    color: #4CAF50;
}

/* Стилі для кнопок */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
}

.button:hover {
    background-color: #45a049;
}