/* Загальні стилі для сторінки профілю */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.user-info {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.user-info p {
    font-size: 16px;
    margin: 10px 0;
}

.user-info strong {
    color: #4CAF50;
}


.user-info input {
    width: 70%;
    display: flex;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
/* Стилі для кнопок */
.button, #logout-btn {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 140px;
    display: flex;
    padding: 12px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}
#submit-btn{
    padding: 12px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    margin-top: 20px;
}

.button:hover {
    background-color: #45a049;
}

.nav-buttons {
    margin-left: auto;
    display: flex;
    align-items: center; /* Вирівнюємо всі елементи по центру вертикально */
    gap: 10px; 
    border: none; 
}

.nav-buttons a {
    width: 90px;
    text-align: center;
    padding: 8px 10px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    border: 1px dashed #ffffff; 
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.nav-buttons a:hover{
    background-color: #45a049;
}
#logout-btn{
    background-color: #ff5252;
    margin-top: 5px;
}
#logout-btn:hover{
    background-color: #da4747;
}
a.btn-back {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 0;
    border-radius: 4px;
    font-size: 16px;
}

a.btn-back:hover {
    text-decoration: underline #555;
}