<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Замовлення</title>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <header>
        <div class="nav-buttons">
            <a href="{% url 'main_page' %}">На головну</a>
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">Увійти</a>
            {% endif %}
        </div>
    </header>
    <div class="orders-container">
        <h1>Ваші замовлення</h1>
    
        {% if orders %}
            {% for order in orders %}
                <div class="order-block"
                    {% if order.status == 'delivered' %} style="background-color: #eaf1ea;"
                    {% elif order.status == 'canceled' %} style="background-color: #ffecec;"
                    {% endif %}>
                    <div class="order-header">
                        <h2>Замовлення №{{ order.order_id }}</h2>
                        <p class="order-date">Дата: {{ order.order_date|date:"d.m.Y" }}</p>
                    </div>
                    <div class="order-details">
                        <p><strong>Спосіб оплати:</strong> {{ order.payment_method }}</p>
                        <p><strong>Адреса доставки:</strong> {{ order.order_city }}, {{ order.order_street }}, {{ order.order_house }}, кв. {{ order.order_flat }}</p>
                            {% if order.status == 'in_progress' %}
                            <p style="color: #a5a5a5;"><strong>Замовлення в обробці, очікуйте відправлення.</strong><p>
                            {% elif order.status == 'shipped' %}
                            <p style="color: #4CAF50;"><strong>Доставка очікується {{ order.delivery_date|date:"d.m.Y" }}</strong></p>
                            {% elif order.status == 'delivered' %}
                            <p style="color: #4CAF50;"><strong>Замовлення доставлено {{ order.delivery_date|date:"d.m.Y" }}</strong></p>
                            {% else %}
                            <p style="color: red;"><strong>Замовлення скасовано.</strong></p>
                            {% endif %}
                    </div>
                    <div class="order-items">
                        <h3>Товари:</h3>
                        <ul>
                            {% for item in order.items.all %}
                                <li>
                                    <div class="item-info">
                                        {% if item.plant.photo %}
                                            <img class="plant-img" src="{% static 'plants/' %}{{ item.plant.photo }}" alt="{{ item.plant.plant_name }}">
                                        {% else %}
                                            <div class="empty-frame"></div>
                                        {% endif %}
                                        <a href="{% url 'plant_detail' item.plant.plant_id %}" class="item-name">{{ item.plant.plant_name }}</a>
                                    </div>
                                    <span class="item-quantity">{{ item.quantity }} шт.</span>
                                    <span class="item-price">{{ item.price }} грн</span>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if order.discount %}
                        <p class="order-total"><strong>Загальна сума (з урахуванням знижки {{order.discount}}%):</strong> {{ order.discounted_total_price }} грн</p>
                        {% else %}
                        <p class="order-total"><strong>Загальна сума:</strong> {{ order.total_price }} грн</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас немає замовлень.</p>
        {% endif %}
    </div>
    {% if messages %}
    <div id="popup-message" class="popup-message">
        <span class="close-btn">&times;</span>
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{% static 'scripts/popup_messages.js' %}"></script>
</body>
</html>


